<!DOCTYPE html>
<html lang="en">
<head> 
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<meta charset="UTF-8">
	<title> 
		Not Main Page 
	</title>
</head>
<body>
	<h1><center>HERE IS THE DB INITIALIZATION LOG</center> </h1>
	<p></p>		
	<h2><center> {%for each in w%}
				{{each}}		
			<br>
		 {%	endfor %}
	</center></h2>
</body>
</html>
